<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>

     <link href="htttps://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="main_navigation" class="clearfix">
		<%= link_to '$80 Million Project', root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
		<a href="#">Projects</a>
		<a href="#">Contact</a
	</nav>
		
	</header>

    <%= yield %>

    <footer id="main_footer">
  <p class="copyright">&copy; 2018 $80 Million</p>
  <nav>
    <a href="http://twitter.com/#" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="http://twitter.com/#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="http://twitter.com/#" target="_blank"><i class="fab fa-instagram"></i></a>
  </nav>
</footer>
  </body>
</html>
